*{
  margin: 0%;
padding: 0%;
box-sizing: border-box;
}

.desktop{
  background-image: url(./assets/Mask\ group.png);
  width: 100%;
  height: 500px;
  
}

.desktop h1 {
  width: 734px;
  height: 200px;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
}